/* navbar formatting */
nav.navbar {
    background-color: white;
}
.navbar-brand {
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: -10px;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 0;
}

/* Images formatting */
img {width: 100%;}

.img-thumbnail {
    width: 100%;
    float: left;
    border-style: dotted;
}

#landing {
    width: 40%;
}

h1, h2, h3 {
    color:lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
}

/* .lat-button {
    width: 100px;
    background: lightseagreen;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
} */

/* Text formatting */
body {
    background-color: rgb(155, 151, 151);
}

.container {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: large;
}

.container.bg-white {
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

.col-md-12 {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* Visualizations formatting */
.selected {
    border: 2px solid lightseagreen;
}

/* Table Formatting */
.table {
    padding: 30px;
}

/* Smaller Screen */
@media(max-width: 991px) {
    .navbar-collapse {
        background-color: white;
    }

    .navbar {
        padding: 8px;
        background-color: lightseagreen;
    }

    nav.navbar {
        background-color: lightseagreen;
    }
}